{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ page.contenttop }}

<main class="page-universite-bretagne-loire">
    <div class="row">
        {# <h1>{{ page.title }}</h1> #}
        <section id="content">

            <div class="row equalize-row-out">

                <div class="col-xs-12 col-sm-6 right-now">
                    <h2>{{ 'En ce moment'|t }}</h2>
                    <ul class="row equalizeOFF-row-out">
                        <li class="col-xs-12 col-sm-6" style="height: 100%">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Recrutement').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/recrutement.png') }}>
                                </div>
                                <div class="title">{{ 'Recrutement'|t }}</div>
                                <div class="description">
                                    {{ 'L\'Université Bretagne Loire et ses membres recrutent.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6" style="height: 100%">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Lettre d\'info').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/lettreinfo.png') }}>
                                </div>
                                <div class="title">{{ 'Lettre d\'info'|t }}</div>
                                <div class="description">
                                    {{ 'La lettre d\'info avec vue sur le monde.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <h2>{{ 'Coordonnées'|t }}</h2>
                    <div class="coordonnes-map">
                        <img src="{{ file_url(node.field_coordonnesmap.entity.fileuri) }}">
                    </div>
                </div>

            </div>
            <div class="row equalize-row-out">

                <div class="col-xs-12 col-sm-6 right-now">
                    <ul class="row equalizeOFF-row-out">
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Marchés publics').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/marchespublics.png') }}>
                                </div>
                                <div class="title">{{ 'Marchés publics'|t }}</div>
                                <div class="description">
                                    {{ 'Tous nos appels d\'offre en cours de publication ou d\'éxécution.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','actes administratifs').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/actesadmin.png') }}>
                                </div>
                                <div class="title">{{ 'Recueil des actes administratifs'|t }}</div>
                                <div class="description">
                                    {{ 'Téléchargez tous les documents officiels.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row equalize-row-out">
                        <div class="col-xs-12 col-sm-6 bloc_contact">
                            <div class="inner">
                                {{ node.field_vieubl_contact.value|raw }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 bloc_links">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="inner">
                                        <a href="{{ front_page }}annuaire" class="title">ANNUAIRE</a>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="inner">
                                        <a href="{{ front_page }}universite-bretagne-loire/acces" class="title">PLAN D'ACCES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


{#


            <div class="row equalizeOFF-row-out">


                <div class="col-xs-12 col-sm-6 right-now">
                    <h2>{{ 'En ce moment'|t }}</h2>
                    <ul class="row equalize-row-out">
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Recrutement').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/recrutement.png') }}>
                                </div>
                                <div class="title">{{ 'Recrutement'|t }}</div>
                                <div class="description">
                                    {{ 'L\'Université Bretagne Loire et ses membres recrutent.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Lettre d\'info').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/lettreinfo.png') }}>
                                </div>
                                <div class="title">{{ 'Lettre d\'info'|t }}</div>
                                <div class="description">
                                    {{ 'La lettre d\'info avec vue sur le monde.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','Marchés publics').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/marchespublics.png') }}>
                                </div>
                                <div class="title">{{ 'Marchés publics'|t }}</div>
                                <div class="description">
                                    {{ 'Tous nos appels d\'offre en cours de publication ou d\'éxécution.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6">
                            <div class="inner">
                                <div class="icon-title">
                                    <img{{ attributes.addClass(['']).setAttribute('alt','actes administratifs').setAttribute('src', base_path ~ directory   ~ '/img/ico/vieubl/actesadmin.png') }}>
                                </div>
                                <div class="title">{{ 'Recueil des actes administratifs'|t }}</div>
                                <div class="description">
                                    {{ 'Téléchargez tous les documents officiels.'|t }}
                                    <a href="#"
                                       class="readmore"><img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-white.png') }}></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>{{ 'Coordonnées'|t }}</h2>
                    <div class="coordonnes-map">
                        <img src="{{ file_url(node.field_coordonnesmap.entity.fileuri) }}">
                    </div>
                    <div class="row equalize-row-out">
                        <div class="col-xs-12 col-sm-6 bloc_contact">
                            <div class="inner">
                                {{ node.field_vieubl_contact.value|raw }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 bloc_links">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="inner">
                                        <a href="{{ front_page }}annuaire" class="title">ANNUAIRE</a>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="inner">
                                        <a href="{{ front_page }}universite-bretagne-loire/acces" class="title">PLAN D'ACCES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #}

        </section>
        {% if has_sidebar %}
            <aside id="sidebar">

                {{ page.sidebar }}

                {% if ubl_sidebar.services.active or
                ubl_sidebar.downloads.active or
                ubl_sidebar.contact.active or
                ubl_sidebar.video.active or
                ubl_sidebar.actus.active or
                ubl_sidebar.twitter.active %}
                    <div class="widget-container">
                        <div class="widget-row">

                            {% if ubl_sidebar.services.active %}
                                <div class="widget-wrap">
                                    <div class="widget-box">
                                        <div id="services-box" class="content">
                                            <h6 class="blue">{{ "Nos services"|t }}</h6>
                                            <ul>
                                                {% for servPage in ubl_sidebar.services.pages %}
                                                    <li><a href="{{ servPage.url }}">{{ servPage.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            <a href="services/etudiants/principale"
                                               class="blue">{{ "Tous nos services"|t }}
                                                ></a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if ubl_sidebar.downloads.active %}
                                <div class="widget-wrap">
                                    <div class="widget-box">
                                        <div id="downloads-box" class="content">
                                            <h6>{{ "A télécharger"|t }}</h6>
                                            <ul class="none">
                                                {% for file in ubl_sidebar.downloads.files %}
                                                    <li><i class="glyphicon glyphicon-download-alt"></i> <a
                                                                href="{{ file.url }}"
                                                                target="_blank">{{ file.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if ubl_sidebar.contact.active %}
                                <div class="widget-wrap">
                                    <div class="widget-box blue">
                                        <div id="contact-box" class="content">
                                            <h6>{{ "Prendre contact"|t }}</h6>

                                            <div class="contact-wrap">
                                                <strong>{{ ubl_sidebar.contact.name }}</strong>
                                                <ul class="none">
                                                    {% if ubl_sidebar.contact.tel!='' %}
                                                        <li>
                                                            <i class="glyphicon glyphicon-earphone"></i> {{ ubl_sidebar.contact.tel }}
                                                        </li>
                                                    {% endif %}
                                                    {% if ubl_sidebar.contact.email!='' %}
                                                        <li><i class="glyphicon glyphicon-envelope"></i> <a
                                                                    href="mailto:{{ ubl_sidebar.contact.email }}">{{ "Contacter par mail"|t }}</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            {% if ubl_sidebar.contact2.name %}
                                                <div class="contact-wrap">
                                                    <strong>{{ ubl_sidebar.contact2.name }}</strong>
                                                    <ul class="none">
                                                        {% if ubl_sidebar.contact2.tel!='' %}
                                                            <li>
                                                                <i class="glyphicon glyphicon-earphone"></i> {{ ubl_sidebar.contact2.tel }}
                                                            </li>
                                                        {% endif %}
                                                        {% if ubl_sidebar.contact2.email!='' %}
                                                            <li><i class="glyphicon glyphicon-envelope"></i> <a
                                                                        href="mailto:{{ ubl_sidebar.contact2.email }}">{{ "Contacter par mail"|t }}</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if ubl_sidebar.contact3.name %}
                                                <div class="contact-wrap">
                                                    <strong>{{ ubl_sidebar.contact3.name }}</strong>
                                                    <ul class="none">
                                                        {% if ubl_sidebar.contact3.tel!='' %}
                                                            <li>
                                                                <i class="glyphicon glyphicon-earphone"></i> {{ ubl_sidebar.contact3.tel }}
                                                            </li>
                                                        {% endif %}
                                                        {% if ubl_sidebar.contact3.email!='' %}
                                                            <li><i class="glyphicon glyphicon-envelope"></i> <a
                                                                        href="mailto:{{ ubl_sidebar.contact3.email }}">{{ "Contacter par mail"|t }}</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if ubl_sidebar.contact4.name %}
                                                <div class="contact-wrap">
                                                    <strong>{{ ubl_sidebar.contact4.name }}</strong>
                                                    <ul class="none">
                                                        {% if ubl_sidebar.contact4.tel!='' %}
                                                            <li>
                                                                <i class="glyphicon glyphicon-earphone"></i> {{ ubl_sidebar.contact4.tel }}
                                                            </li>
                                                        {% endif %}
                                                        {% if ubl_sidebar.contact4.email!='' %}
                                                            <li><i class="glyphicon glyphicon-envelope"></i> <a
                                                                        href="mailto:{{ ubl_sidebar.contact4.email }}">{{ "Contacter par mail"|t }}</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if ubl_sidebar.contact5.name %}
                                                <div class="contact-wrap">
                                                    <strong>{{ ubl_sidebar.contact5.name }}</strong>
                                                    <ul class="none">
                                                        {% if ubl_sidebar.contact5.tel!='' %}
                                                            <li>
                                                                <i class="glyphicon glyphicon-earphone"></i> {{ ubl_sidebar.contact5.tel }}
                                                            </li>
                                                        {% endif %}
                                                        {% if ubl_sidebar.contact5.email!='' %}
                                                            <li><i class="glyphicon glyphicon-envelope"></i> <a
                                                                        href="mailto:{{ ubl_sidebar.contact5.email }}">{{ "Contacter par mail"|t }}</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if ubl_sidebar.video.active %}
                                <div class="widget-wrap">
                                    <h5 class="small">{{ "A voir aussi"|t }}</h5>

                                    <div class="widget-box black">
                                        <div id="youtube-box" class="content">
                                            {% if ubl_sidebar.video.id %}
                                                <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/{{ ubl_sidebar.video.id }}"
                                                        frameborder="0"
                                                        allowfullscreen></iframe>
                                            {% elseif ubl_sidebar.video.listid %}
                                                <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/videoseries?list={{ ubl_sidebar.video.listid }}"
                                                        frameborder="0"
                                                        allowfullscreen></iframe>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if ubl_sidebar.actus.active %}
                                <div class="widget-wrap">
                                    <h5 class="small">{{ "A suivre"|t }}</h5>

                                    <div class="widget-box">
                                        <div id="posts-box" class="content">
                                            <div class="slide-nav">
                                                <div class="prev"></div>
                                                <div class="next"></div>
                                            </div>
                                            <ul>
                                                {% for actualite in ubl_sidebar.actus.posts %}
                                                    <li class="{% if loop.first %}active{% endif %}">
                                                        <h6><a href="{{ actualite.url }}">{{ actualite.title }}</a></h6>

                                                        <p>{{ actualite.excerpt }}</p>
                                                        <a href="{{ actualite.url }}"
                                                           class="views-more-link pull-right"><i></i></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if ubl_sidebar.twitter.active %}
                                <div class="widget-wrap">
                                    <h5 class="small">{{ "A suivre"|t }}</h5>

                                    <div class="widget-box blue">
                                        <div id="twitter-box" class="content">
                                            <div class="slide-nav">
                                                <div class="prev"></div>
                                                <div class="next"></div>
                                            </div>
                                            <ul>
                                                {% for twit in ubl_sidebar.twitter.posts %}
                                                    <li class="{% if loop.first %}active{% endif %}">
                                                        <a href="http://twitter.com/UBretagneLoire/status/{{ twit.id_str }}" target="_blank">{{ twit.text|raw }}</a>
                                                        <div class="date">{{ twit.created_at|date("d M") }}</div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                {% endif %}

            </aside>
        {% endif %}

    </div>
</main>


<main class="page-universite-bretagne-loire">
    <div class="inner-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <section id="child-links">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                            <div class="section-title">
                                {{ node.field_vieubl_titleblacksection.value|raw }}
                            </div>
                            <a href="{{ front_page }}etablissements/universite_angers" title="{{ 'Voir tous les établissements'|t }}">{{ 'Voir tous les établissements'|t }}</a>
                        </div>
                        {% for blackPage in ubl_blackpages.pages %}
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumb">
                                {% if blackPage.thumb %}
                                    <a href="{{ blackPage.url }}" title="{{ blackPage.title }}"><img
                                                src="{{ blackPage.thumb.src }}" alt="{{ blackPage.thumb.alt }}"></a>
                                {% endif %}
                            </div>
                            <a class="title" href="{{ blackPage.url }}" title="{{ blackPage.title }}">
                                {{ blackPage.title }}
                                <img{{ attributes.addClass(['']).setAttribute('alt','Lire la suite').setAttribute('src', base_path ~ directory   ~ '/img/see-more-black.png') }}>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

{% if ubl_crossreading.active %}
    <section id="alsoread-wrapper" class="grey">
        <div style="position: relative;">
            <h3>{{ "A lire aussi..."|t }}</h3>
            <ul class="carousel-div carousel-div-4col carousel-div-xs-2col">
                {% for crossPage in ubl_crossreading.pages %}
                    <li>
                        <div class="thumb">
                            {% if crossPage.thumb %}
                                <a href="{{ crossPage.url }}" title="{{ crossPage.title }}"><img
                                            src="{{ crossPage.thumb.src }}" alt="{{ crossPage.thumb.alt }}"></a>
                            {% endif %}
                        </div>
                        <div class="inner">
                            <h3><a href="{{ crossPage.url }}" title="{{ crossPage.title }}">{{ crossPage.title }}</a></h3>
                            <div class="excerpt-full">
                                <span class="cat">{{ crossPage.cat }}</span>
                                <a href="{{ crossPage.url }}">{{ crossPage.excerpt }}</a> <a href="{{ crossPage.url }}" class="views-more-link">voir</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="view-footer">
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
{% endif %}
