{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    {# # }
    <base href="//{{ base_domain }}{{ front_page }}">
    {# #}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes.addClass(body_classes) }}>

<aside id="header-top" class="debugstafe">
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-3">
                <ul class="socials">
                    <li>
                        <a href="https://twitter.com/ubretagneloire" target="_blank"
                           title=""><img{{ attributes.addClass(['']).setAttribute('alt','Twitters').setAttribute('src', base_path ~ directory   ~ '/img/ico/twitter-grey-24x18.png') }}></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCh4amch3AqUnG3vksNjIEAw" target="_blank"
                           title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'YouTube').setAttribute('src', base_path ~ directory   ~ '/img/ico/youtube-grey-20x20.png') }}></a>
                    </li>
                    <li>
                        <a href="http://www.scoop.it/u/universite-bretagne-loire" target="_blank"
                           title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'ScoopIT').setAttribute('src', base_path ~ directory   ~ '/img/ico/scoopit-grey-61x18.png') }}></a>
                    </li>
                    {#
                    <li>
                        <a href="#"
                           title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'LinkedIn').setAttribute('src', base_path ~ directory   ~ '/img/ico/linkedin-grey-17x16.png') }}></a>
                    </li>
                    #}
                </ul>
                <div class="share-mobile"></div>
            </div>
            <nav class="col-xs-9 navbar navbar-default">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div>
                        {{ page.menu_top }}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ front_page }}etablissements/universite_angers">{{ 'Membres'|t }}</a></li>
                            <li><a href="{{ front_page }}annuaire">{{ 'Annuaire'|t }}</a></li>
                            <li><a href="{{ front_page }}universite-bretagne-loire/acces">{{ 'Accès'|t }}</a></li>
                            <li>
                                <form class="navbar-form" role="search" action="{{ front_page }}search/node">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="{{ 'Rechercher...'|t }}"
                                               name="keys"
                                               size="5">

                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i
                                                        class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li><a href="{{ front_page }}espace-presse">{{ 'Espace presse'|t }}</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
                <div class="search-mobile">
                    <form class="navbar-form" role="search" action="{{ front_page }}search/node">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'Rechercher...'|t }}"
                                   name="keys"
                                   size="5">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i
                                            class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</aside>

<header>
    <div class="wrapper">
        <div class="row">
            <div id="logo">
                <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">
                    <img{{ attributes.addClass(['']).setAttribute('id', 'img-logo').setAttribute('src', base_path ~ directory   ~ '/img/logo.jpg') }}>
                </a>
            </div>
            {{ page.menu_primary }}
        </div>
        {{ page.header }}
    </div>
</header>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<footer>
    <div class="inner">
        <div>
            <span class="univ">{{ "Université bretagne loire"|t }}</span>
            {{ page.footer_top }}
            <ul class="socials">
                <li>
                    <a href="https://twitter.com/ubretagneloire" target="_blank"
                       title=""><img{{ attributes.addClass(['']).setAttribute('alt','Twitter').setAttribute('src', base_path ~ directory ~ '/img/ico/twitter-grey-24x18.png') }}></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCh4amch3AqUnG3vksNjIEAw" target="_blank"
                       title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'YouTube').setAttribute('src', base_path ~ directory   ~ '/img/ico/youtube-grey-20x20.png') }}></a>
                </li>
                <li>
                    <a href="http://www.scoop.it/u/universite-bretagne-loire" target="_blank"
                       title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'ScoopIT').setAttribute('src', base_path ~ directory   ~ '/img/ico/scoopit-grey-61x18.png') }}></a>
                </li>
                {#
                <li>
                    <a href="#"
                       title=""><img{{ attributes.addClass(['']).setAttribute('alt', 'LinkedIn').setAttribute('src', 'themes/custom/ubl/img/ico/linkedin-grey-17x16.png') }}></a>
                </li>
                #}
            </ul>
        </div>
        <div>
            {{ page.footer }}
        </div>
    </div>
</footer>
<js-bottom-placeholder token="{{ placeholder_token|raw }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73432474-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
