{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}


{% if view_mode == 'teaser' %}
    <article class="offre-recrutement-item">
        <a class="offre-titre collapsed" data-toggle="collapse" data-target="#recrutement-node-{{ node.id }}">
            {{ label }}
            <span class="glyphicon glyphicon-menu-down"></span>
            <span class="glyphicon glyphicon-menu-up"></span>
        </a>
        <div id="recrutement-node-{{ node.id }}" class="offre-content collapse">
            <div class="rec-description">
                {{ node.field_a_propos_etab.value|raw }}
            </div>
            <div class="rec-details">

                {% if node.field_mission.value is defined %}
                    <div class="rec-element">
                        <span>Mission</span>
                        <div>
                            {{ node.field_mission.value|raw }}
                        </div>
                    </div>
                {% endif %}

                {% if node.field_localisation.value is defined %}
                    <div class="rec-element">
                        <span>Localisation</span>
                        <div>
                            {{ node.field_localisation.value }}
                        </div>
                    </div>
                {% endif %}

                {% if node.field_type_de_contrat.value is defined %}
                    <div class="rec-element">
                        <span>Type de contrat</span>
                        <div>
                            {{ node.field_type_de_contrat.value }}
                        </div>
                    </div>
                {% endif %}

                {% if node.field_poste_a_pouvoir.value is defined %}
                    <div class="rec-element">
                        <span>Poste à pouvoir</span>
                        <div>
                            {{ node.field_poste_a_pouvoir.value }}
                        </div>
                    </div>
                {% endif %}

                {% if node.field_candidature.value is defined %}
                    <div class="rec-element">
                        <span>Candidature</span>
                        <div>
                            {{ node.field_candidature.value|raw }}
                        </div>
                    </div>
                {% endif %}

                {% if node.field_fiche_poste.entity.fileuri is defined %}
                    <div class="rec-element">
                        <div>
                            <a target="_blank" href="{{ file_url(node.field_fiche_poste.entity.fileuri) }}">Télécharger
                                la fiche poste
                                ></a>
                        </div>
                    </div>
                {% endif %}

                {% if node.field_site_web.value is defined %}
                    <div class="rec-element">
                        <div>
                            <a target="_blank" href="{{ node.field_site_web.value  }}">{{ node.field_site_web.value }}</a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </article>
{% else %}
    <article{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}
        {% if display_submitted %}
            <footer class="node__meta">
                {{ author_picture }}
                <div{{ author_attributes.addClass('node__submitted') }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}
        <div{{ content_attributes.addClass('node__content') }}>
            {{ content }}
        </div>
    </article>
{% endif %}